<footer class="page-footer font-small blue">

    <div class="footer-text py-3">
        <ul class="list-group w-50 list-left text-left">
            <li class="list-group-item">Fale conosco</li>
            <li class="list-group-item">Sobre</li>
            <li class="list-group-item">Corporativo</li>
            <li class="list-group-item">Politica de privacidade</li>
            <li class="list-group-item">Termos de uso</li>
        </ul>

        <ul class="list-group w-50 list-right text-left">
            <li class="list-group-item">Entregas</li>
            <li class="list-group-item">Pedidos</li>
            <li class="list-group-item">Trocas e devoluções</li>
            <li class="list-group-item">Pagamentos</li>
            <li class="list-group-item">Trabalhe conosco</li>
        </ul>
    </div>

    <div class="footer-copyright text-center">
        © 2020 Copyright - Shopping online
    </div>

</footer>