<div class="detalhe-main">
    <h1 class="detalhe-title">Titulo do item detalhado</h1>
    <div class="detalhe-body">
        <img class="detalhe-imagem" src="https://images-na.ssl-images-amazon.com/images/I/51UGaYg2%2BNL._SL1000_.jpg" alt="">
        <div class="detalhe-right">
            <h5 class="detalhe-title2">Texto1 Texto1 Texto1 Texto1 </h5>
            <p class="detalhe-text">Texto2 Texto2 Texto2 Texto2 Texto2</p>
            <p class="detalhe-text2"><small>Texto3</small></p>
        </div>
    </div>
</div>